html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}











h1 {
  font-size: 1.8rem;
  text-align: left;
  padding: 1rem;
}

.banner {
  position: relative;
  width: 100%;
}

  h2 span{
  position: absolute;
  font-style: italic;
  color: #fff;
}

.main {
  color: #fff;
}

dt {
  font-size: 1.5rem;
  font-style: italic;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
